.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
    height: 76px;
    background: #ffffff;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    margin: auto;
  }
  
  .text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #2a2a2a;
  }
  
  .link {
    color: #349a89;
    text-transform: uppercase;
    text-decoration: none;
  }